.search-button {
    color:white;
    border-color: white;
}
.search-button:hover {
    color: blue;
    border-color: lightgray;
    background-color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
}

  .dropdown:hover .dropdown-content {
    display: block;
  }
footer{
    position:fixed;
    bottom: 0;
    height: 22px;
    width: 100%;
    background-color: aqua;
    padding-left: 10px;
}